@model IEnumerable<AdminUserListingServiceModel>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Credits
            </th>
            <th>
                Actions
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.Email
                </td>
                <td>
                    @user.FirstName
                </td>
                <td>
                    @user.LastName
                </td>
                <td>
                    @user.Credits
                </td>

                <td>
                    <a class="btn btn-warning btn-sm" asp-controller="Users" asp-action="EditUser" asp-route-userId="@user.Id">Edit</a>
                    @if (User.IsInRole(DataConstants.AdministratorRole))
                    {
                        <a class="btn btn-danger btn-sm" asp-controller="Users" asp-action="DeleteUser" asp-route-userId="@user.Id" asp-route-email="@user.Email">Delete</a>
                        <a class="btn btn-info btn-sm" asp-controller="Users" asp-action="RemoveRole" asp-route-userId="@user.Id">Remove Role</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
