@model AdminUserInfoViewModel

@{
    ViewData["Title"] = Model.FirstName;
}

<h2>@(ViewData["Title"] + " " + Model.LastName)</h2>

<form method="post">
    <div class="col-md-4">
        <div class="panel panel-default panel-transparent">

            <div class="panel-body user-list-photo">
                <div class="form-group">
                    <label>Personal information</label>
                </div>
                <div class="form-group">
                    <label>Bregistration Date: </label>
                    @Model.RegistrationDate.ToShortDateString()
                </div>

                <div class="form-group">
                    <label>Birth Date: </label>
                    @Model.BirthDate.ToShortDateString()
                </div>
                <div class="form-group">
                    <label>Height: </label>
                    @Model.Height sm.
                </div>
                <div class="form-group">
                    <label>Weight: </label>
                    @Model.Weight kg.
                </div>

                <div class="form-group">
                    <label>Hair color: </label>
                    @Model.HairColor.ToString()
                </div>
                <div class="form-group">
                    <label>Eyes color: </label>
                    @Model.EyesColor.ToString()
                </div>
                <div class="form-group">
                    <label>Relations: </label>
                    @Model.Relations
                </div>
                <div class="form-group">
                    <label>Sexuality: </label>
                    @Model.Sexuality.ToString()
                </div>

                <div class="form-group">
                    <label asp-for="IsDrinking">Is Drinking</label>
                    @Html.RadioButtonFor(m => m.IsDrinking, true, new { disabled = "disabled" }) Yes
                    @Html.RadioButtonFor(m => m.IsDrinking, false, new { disabled = "disabled" }) No
                    <span asp-validation-for="IsDrinking" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsSmoking">Is Smoking</label>
                    @Html.RadioButtonFor(m => m.IsSmoking, true, new { disabled = "disabled" }) Yes
                    @Html.RadioButtonFor(m => m.IsSmoking, false, new { disabled = "disabled" }) No
                    <span asp-validation-for="IsSmoking" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description">Description:</label>
                    <textarea asp-for="Description" class="form-control" disabled></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>

        <input type="submit" class="btn btn-success button-margin pull-right" value="Save" />
        <a class="btn btn-info button-margin pull-left" asp-controller="Users" asp-action="AllUsers" asp-route-page="1">Back</a>
        <br />
        <br />
        <br />
        <div class="blink_me_background">
            <p4 class="blink_me">All photos, which are not approved will be deleted after you press Save button!</p4>
        </div>
    </div>

    <div class="col-md-8">
        @for (int i = 0; i < Model.Photos.Count(); i++)
        {<div class="col-md-4">
                <div class="panel panel-default panel-transparent">
                    <div class="panel-body user-list-photo">
                        @Html.HiddenFor(m => m.Photos[i].PhotoPath)
                        <img src=@Model.Photos[i].PhotoPath alt="userPhoto" class="img-responsive" />
                        @Html.CheckBoxFor(m => m.Photos[i].IsApproved)
                    </div>
                </div>
            </div>
        }

        <input type="hidden" asp-for="@Model.Id" />
    </div>
</form>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
